body{
	background-image: url(../images/texture_b_9_by_sirius_sdz.jpg);
}

.jumbotron{
	background-color: #357cc4;
	color: white;
}

.panel-heading{
	background-color: #357cc4 !important;
	color: white !important;
}


.navbar{
	background-color: #357cc4 !important;
}


.navbar-brand:link, .navbar-brand:visited{
	color: white !important;
}

.navbar-brand:hover, .navbar-brand:active{
	color: grey !important;
}


.navbar li a:link, .navbar li a:visited{
	color: white !important;
	font-size: 1.2em;
}

.navbar li a :hover, .navbar li a:active{
	color: black !important;
}

.icon-bar{
	background-color: white;
}

.navbar-toggle{
	background-color: white;
}